.products {
  width: 60vw;
  display: flex;
  justify-content:space-between;
  align-items:center; 
}

.products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 4rem;
}

.products li {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
  border-radius: 14px;
  background: #111;
  color: #fff;
  padding: 1rem;
}

.products h3 {
  margin: 0;
}

.products span {
  font-size: 3rem;
  opacity: .9;
}

.products img {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  background: #fff;
}
